.contacts li a.twitter:hover {
    color: rgb(54, 180, 197);
  }
.contacts li a.instagram:hover {
    color: rgb(235, 13, 13);
  }
.roundedCorners {
  border-radius: 28px !important;
}

/* text styles*/
.largeText {
  font-size: large;
}
.largerText{
  font-size: x-large;
}
.italicText{
font-style: italic
}
.boldText {
font-weight: 800;
}
  /*position styles*/
.paddingLeft-3 {
    padding-left: 40px !important;
  }
.marginTop-1 {
  margin-top: 20px; 
}